<header>
<nav>   
        <a href="./">Home</a>
        <a href="./posts">Messages</a>
        <% if (user) {%>
            <a href="./create-message">Create new message</a>
        <% } %>
        <a href="./logout">Logout</a>
    </nav>
</header>